<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @temperature_humidity.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @temperature_humidity.time %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @temperature_humidity.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @temperature_humidity.humidity %>
</p>

<%= link_to 'Edit', edit_temperature_humidity_path(@temperature_humidity) %> |
<%= link_to 'Back', temperature_humidities_path %>
