<!DOCTYPE html>
<html>
<head>
  <title>AGRIZONDE</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="columns">
  <div id="side">
    <ul>
      <li><%= link_to "ロガーデータ登録", temperature_humidities_path %></li>
    </ul>
  </div>

  <% if flash[:notice] %>
      <div class="alert gr"><p><%= flash[:notice] %></p></div>
  <% end %>
  <% if flash[:alert] %>
      <div class="alert yl"><p><%= flash[:alert] %></p></div>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
