<!DOCTYPE html>
<html>
<head>
  <title>AGRIZONDE</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<h2>common_layout</h2>
<% if flash[:notice] %>
    <div class="alert gr"><p><%= flash[:notice] %></p></div>
<% end %>
<% if flash[:alert] %>
    <div class="alert yl"><p><%= flash[:alert] %></p></div>
<% end %>
<%= yield %>

</body>
</html>
